.button{
    color: #0099CC;
    background: transparent; 
    border: 2px solid #0099CC;
    border-radius: 6px;
    padding: 16px 32px;
    text-align: center;
    color: black;
    margin: 20px;
}

body{
    background-color: white;
}

.background-blue{
    background-color: #101357;
}

.background-green{
    background-color: #3d7c47;
}

.background-red{
    background-color: #ff3a22;
}

.background-yellow{
    background-color: #fbaf08;
}

.background-pink{
    background-color: #fea49f;
}

.background-purple{
    background-color: #431c5d;
}

.button:hover {      
    background-color: #008CBA;      
    color: white; 
}

.btnlinks{
    display: flex;
    justify-content: center;
}

.infolinks{
    display: flex;
    justify-content: center;
}

.info{
    background-color: lightgray;
    border: 2px solid #0099CC;
    border-radius: 6px;
    padding: 16px 80px  20px  80px;
    text-align: center;
    margin: 20px;
}

.gitHubName{
    background-color: rgb(243, 230, 230);
    width: 100%;
    padding: 50px;
    text-align: center;
}

.imagePlacer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}